/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
}
header {
  /* text-align: center; */
  height: 10vh;
  border-bottom: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header span {
  color: red;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  transition: 0.2s;
}

nav a:hover {
  text-decoration: underline;
  color: green;
}

nav li {
  margin: 0.2rem;
}

main {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}
.slogan {
  text-align: center;
  /* padding-top: 2rem; */
}
.sub-img {
  height: 40vh;
}

.btn-buy {
  background-color: orange;
  color: wheat;
  border-style: none;
  padding: 0.4rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

footer {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}
footer p {
  outline: 1px solid red;
}

@media screen and (min-width: 30rem) {
  /* body{
        background-color: red;
    } */

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  nav {
    grid-column: 1/2;
  }
  main {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 100%;
  }

  footer {
    grid-column: span 2;
  }
}

@media screen and (min-width: 40rem) {
  nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  main {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li::after {
    content: "|";
  }
  nav a {
    padding-right: 0.5rem;
  }
  header {
    border-right: 1px solid red;
    border-bottom: none;
  }
}
