/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: violet;
}

p::first-letter {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: red;
}

p::after {
  content: "<---------";
}
a::before {
  content: "$ ";
}
